.cardClass {
  text-decoration: none;
  color: inherit;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.cardClass:hover {
  text-decoration: none;
  color: inherit;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.35);
}

.cardImg {
  height: 350px;
}

.cardTitle {
  font-size: 0.8em;
}

.cardText {
  font-size: 0.8em;
}

// media query
// large screen
@media (max-width: 1200px) {
  .cardImg {
    height: 280px;
  }
  .cardTitle,
  .cardText {
    padding: 0;
  }
}

/* small screen */
@media (max-width: 992px) {
  .cardImg {
    height: 400px;
  }
  .cardTitle,
  .cardText {
    font-size: 1em;
  }
}

/* tablet */
@media (max-width: 768px) {
  .cardImg {
    width: 100%;
    height: 500px;
  }
}

/* phone */
@media (max-width: 576px) {
  .cardImg {
    width: 100%;
  }
}
