
// font
.lato {
    font-family: "Lato", sans-serif;
  }
  .montserrat {
    font-family: "Montserrat", sans-serif;
  }
  
  .nunito {
    font-family: "Nunito", sans-serif;
  }
  
  .goldman {
    font-family: "Goldman", cursive;
  }