.outer {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(224, 224, 224, 1) 20%,
    rgba(0, 6, 13, 1) 100%
  );
  height: 100vh;
  width: 100vw;
}

.searchInput {
  font-weight: 200;
}

.homeTitle {
  font-size: 2em;
  font-weight: bold;
  color: #fffff;
}
.nameClass {
  color: #ffff;
}

.centerDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
