.imagePoster {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.imagePoster:hover {
  -webkit-box-shadow: 8px 8px 12px 6px rgba(0, 0, 0, 0.35);
  box-shadow: 8px 8px 12px 6px rgba(0, 0, 0, 0.35);
}
